<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Payments</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <table [dataSource]="dataSource" class="mat-elevation-z1" mat-table>

        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell> ID</th>
          <td *matCellDef="let element" mat-cell> {{ element.id }}</td>
        </ng-container>

        <!-- date Column -->
        <ng-container matColumnDef="date">
          <th *matHeaderCellDef mat-header-cell> Date</th>
          <td *matCellDef="let element" mat-cell> {{ element.date }}</td>
        </ng-container>

        <!-- type Column -->
        <ng-container matColumnDef="type">
          <th *matHeaderCellDef mat-header-cell> Type</th>
          <td *matCellDef="let element" mat-cell> {{ element.type }}</td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="status">
          <th *matHeaderCellDef mat-header-cell> Status</th>
          <td *matCellDef="let element" mat-cell> {{ element.status }}</td>
        </ng-container>

        <!-- firstName Column -->
        <ng-container matColumnDef="firstName">
          <th *matHeaderCellDef mat-header-cell> FirstName</th>
          <td *matCellDef="let element" mat-cell> {{ element.student.firstname }}</td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>


    </mat-card-content>
  </mat-card>
</div>
